.container {
  width: 99vw;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #335977;
}
agm-map {
  margin: 1%;
  width: 98%;
  height: 83vh;
  border-radius: 5px;
}
