header {
  margin: 0;
  width: 99vw;
  background: #DEA03C;
  text-align: center;
  border: 1px solid;
}
header h1 {
  font-size: 2em;
  color: white;
  margin: 1px;
}
footer {
  margin: 0;
  width: 99vw;
  text-align: center;
  background: #DEA03C;
  height: 15vh;
  border:1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
footer h1 {
  font-size: 2em;
  color: white;
  margin: 1px;
}
footer h2 {
  font-size: 1.7em;
  color: white;
  margin:1px;
}
